h3 {
    /* quote of the week title */
    font-family: "Segoe UI", sans-serif;
    font-size: 24pt;
    text-align: center;
}

p {
    /* quote, author, and failure msg */
    font-family: "Segoe UI", sans-serif;
    font-size: 18pt;
    text-align: center;
}

#author {
    /* author */
    margin-right: 17%;
    text-align: right;
}
